$blue: #16599e;
$purple: #810565;
$crimson: #944568;
$green: #4fa142;

$grey-dark: #363d44;
$grey: #717788;
$grey-light: #adb0b9;
$neutral: #e5e6e9;
$sand: #f0ece5;
$sea: #e5eced;

// Body
$body-bg: $sand;

// Fonts:
$weight-normal: 400;
$weight-semi-bold: 500;
$weight-bold: 700;

$line-height-base: 1.6;
$font-family-base: 'Roboto', sans-serif;
