@import 'utils/functions';
@import 'utils/variables';

.container-fluid {
  height: calc(100vh - 2rem);

  .table {
    tr {
      height: rem-calc(50);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      th {
        cursor: pointer;

        &:hover {
          color: lighten($grey-dark, 25%);
        }
      }
    }
  }
}
