@import 'utils/variables';

.sidenav {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: $grey-dark;
  transition: width 200ms ease;

  &:hover {
    width: 16rem;

    span[class$='__text'] {
      display: block;
      white-space: nowrap;
    }
  }

  &__menu {
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    color: $grey-light;
    height: 100%;

    &__item {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 5rem;

      &:first-child {
        font-weight: $weight-semi-bold;
        margin-bottom: 1rem;
        letter-spacing: 0.3ch;
      }

      &:last-child {
        margin-top: auto;
      }
      
      &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
          color: $neutral;
        }

        &__text {
          display: none;
          margin-left: 1rem;
        }
      }
    }
  }
}