<nav class="sidenav">
  <ul class="sidenav__menu">
    <li *ngFor="let item of menuItemList" class="sidenav__menu__item">
      <ng-container *ngIf="item.link; else localRoute">
        <a [href]="item.link" class="sidenav__menu__item__link" target="_blank">
          <fa-icon [icon]="item.icon" class="fa-3x"></fa-icon>
          <span class="sidenav__menu__item__link__text">{{ 'menu.' + item.key | translate }}</span>
        </a>  
      </ng-container>
      <ng-template #localRoute>
        <a [routerLink]="item.route" [href]="item.link" class="sidenav__menu__item__link">
          <fa-icon [icon]="item.icon" class="fa-3x"></fa-icon>
          <span class="sidenav__menu__item__link__text">{{ 'menu.' + item.key | translate }}</span>
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
